<!DOCTYPE html>
<html>
    <head>
        <title>ReLabs WebSocket Chat</title>
    </head>
    <body>
        <h1>ReLabs WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ol style="list-style-type: none;" id='messages'>
        </ol>
        <script>
            var ws = new WebSocket("ws://localhost:8001/ws");
            ws.onmessage = function(event) {
                let ws_data=JSON.parse(event.data)
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(`${ws_data.id}. ${ws_data.message}`)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                input.value?ws.send(JSON.stringify({message: input.value})):null
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>